* {
    color: #6e6e6e;
    font-family: 'poppins';
}

body {
    margin: 0;
    background-image: url("background.png");
}

.buttons {

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.but {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 17px;
    outline: none;
    margin-right: 20px;
    transition: all 0.7s;
}

a {
    text-decoration: none;
}

#type1 {
    background-color:#42a5f5;
    padding-bottom: 50px;
}
.btn-1 {
    
    display: inline-block;
    padding: 15px 40px;
    border: 1px solid #fff;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
    
  }
  
  .btn-1:before {
    content: "";
    position: absolute;
    height: 150px;
    width: 50px;
    background : #fff;
    left: -55px;
    top: -40px;
    transform: rotate(37deg);
    transition: all .3s;
    opacity: 0.3;
}
  
.btn-1:hover:before {
    left:95%;
}
